@(userForm: Form[com.cti.core.model.User.UserPhone], isNew: Boolean)(implicit flash: Flash, lang: Lang)
@import helper.twitterBootstrap._
@import com.cti.core.model.User._
@main(Messages("users.form")) {
	 <div class="container">
    @if(flash.get("success").isDefined){
      <div class="alert alert-success">
        @flash.get("success")
</div> }
    @if(flash.get("error").isDefined){
      <div class="alert alert-warning">
        @flash.get("error")
      </div>
}
  </div>
  @if(isNew){
	<h2>Add user</h2>
	} else {
	<h2>Update User: @userForm("firstName").value, @userForm("lastName").value</h2>
	}
		
	<div class="well">
	@helper.form(action = com.cti.web.controllers.routes.Users.save()){
		<fieldset>
			<legend>
				User Details
			</legend>
			
			<input type="hidden" id="user_id" name="user.id" value="@userForm("user.id").value"/>	
			<input type="hidden" id="user_phoneId" name="user.phoneId" value="@userForm("user.phoneId").value"/>
			<input type="hidden" id="phone_id" name="phone.id" value="@userForm("phone.id").value"/>
			@helper.inputText(userForm("user.firstName"))
			@helper.inputText(userForm("user.lastName"))
			@helper.inputText(userForm("user.username"))
			@helper.inputText(userForm("user.email"))
			@helper.inputText(userForm("user.password"))
			@helper.inputText(userForm("phone.serialNumber"))
		</fieldset>
		<p>
			<input type="submit" class="btn primary"
				value='@if(isNew){@Messages("users.new.submit")}else{Update}'>
		</p>
	}
</div>
}