@(message: String)

@main("Newbury Proximity") {
    <div class="well">
        <h1>@message</h1>
        <div class="well">
        	<p>
        		Newbury proximity is a test application showing off some fun things you can do with the Qualcomm proximity sensors.
        		This demo provides a fun scavenger hunt game where users create a set of clues on the web and use a corresponding mobile app 
        		to receive clues for finding the sensors and moving on to the next sensor. 
        	</p>
        	<p>
        		This project and all the source code are availbe on <a href="https://github.com/mhiggins3/newbury">Github</a>.
        	</p>
        </div>
    </div>

}
